version: "3"
services:
  php:
    build:
      dockerfile: Dockerfile-${DOCKERFILE_FLAVOUR}
      context: "php"
      args:
        - PHP_BASE_IMAGE_VERSION=${PHP_BASE_IMAGE_VERSION}
    image: ${PHP_IMAGE_NAME}:${PHP_BASE_IMAGE_VERSION}${PHP_IMAGE_VERSION_SUFFIX}
    environment:
      - GITHUB_API_TOKEN=${GITHUB_API_TOKEN}
      - PHP_ENABLE_XDEBUG
      - TEST_RUNTIME_PATH=/tmp/runtime
      - REPOSITORY_URL=${REPO_URL}
    volumes:
      - ./tests:/tests:delegated
      - ./app:/app:delegated
      # Composer cache
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
    command: bash -c "/home/init-project.sh"

  # composer:
  #   image: composer
  #   volumes:
  #     - ./:/app
  #   command: bash -c "composer create-project yiisoft/yii2-app-basic app || (echo App already installed. )"
  #   links:
  #     - mysql
  # The Database
  mysql:
    image: mysql:${MYSQL_TAG}
    volumes:
      - ./db-data:/var/lib/mysql
    environment:
      - "MYSQL_ROOT_PASSWORD=${DB_PASSWORD}"

  # PhpMyAdmin
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - "PMA_USER=${DB_USERNAME}"
      - "PMA_PASSWORD=${DB_PASSWORD}"
    ports:
      - ${PHP_MYADMIN_PORT}:80
    restart: always
    depends_on:
      - mysql
    links:
      - mysql:db
volumes:
  db-data:
